---
title: The Super-Resolution for Renewable Energy Resource Data with Climate Change Impacts (Sup3rCC)
summary: Freely available customizeable downloads of Sup3rCC data. The Super-Resolution for Renewable Energy Resource Data with Climate Change Impacts (Sup3rCC) data is a collection of 4km hourly wind, solar, temperature, humidity, and pressure fields for the contiguous United States under various climate change scenarios. Learn more about the Sup3rCC dataset [at the GitHub repository](https://github.com/openEDI/documentation/blob/main/Sup3rCC.md) and in [this article](https://www.nlr.gov/news/detail/features/2024/nrel-unveils-groundbreaking-generative-machine-learning-model-to-simulate-future-energy-climate-impacts).
detail: "Sup3rCC is downscaled Global Climate Model (GCM) data. The downscaling process was performed using a generative machine learning approach called sup3r: Super-Resolution for Renewable Energy Resource Data. The data includes both historical and future weather years, although the historical years represent the historical climate, not the actual historical weather that we experienced. You cannot use Sup3rCC data to study historical weather events, although other sup3r datasets may be intended for this.<br />
<br />
The Sup3rCC data is intended to help researchers study the impact of climate change on energy systems with high levels of wind and solar capacity. Please note that all climate change data is only a representation of the possible future climate and contains significant uncertainty. Analysis of multiple climate change scenarios and multiple climate models can help quantify this uncertainty.<br />
<br />
Access to the entire Sup3rCC dataset as a single bulk download is available at [The Registry of Open Data on AWS](https://registry.opendata.aws/nrel-pds-sup3rcc/)."
---

# <%= current_page.data.title %>

<%= current_page.data.summary %>

<%= current_page.data.detail %>

<%= partial("layouts/child_links") %>


## Contact

<p>For questions about the API or the data models please contact <a href="mailto:nsrdb@nlr.gov">nsrdb@nlr.gov</a></p>
