<tr>
  <th class="doc-parameter-name" scope="row">latitude</th>
  <td class="doc-parameter-required">Yes</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> decimal
    </div>
    <div class="doc-parameter-value-field">
      <strong>Range:</strong> <em>-90</em> to <em>90</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>The latitude of the desired location.</p>
  </td>
</tr>
