<tr>
  <th class="doc-parameter-name" scope="row">longitude</th>
  <td class="doc-parameter-required">Yes</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> decimal
    </div>
    <div class="doc-parameter-value-field">
      <strong>Range:</strong> <em>-180</em> to <em>180</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>The longitude of the desired location.</p>
  </td>
</tr>
