<tr>
  <th class="doc-parameter-name" scope="row">offset</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> integer
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> 0
    </div>
    <div class="doc-parameter-value-field">
      <strong>Minimum:</strong> <i>0</i>
    </div>
  </td>
  <td class="doc-parameter-description">Offset the results found (can be used with the <em>limit</em> parameter to paginate the results).</td>
</tr>
