<tr>
  <th class="doc-parameter-name" scope="row">radius</th>
  <td class="doc-parameter-required">No</td>
  <td class="doc-parameter-value">
    <div class="doc-parameter-value-field">
      <strong>Type:</strong> decimal or string
    </div>
    <div class="doc-parameter-value-field">
      <strong>Default:</strong> <i>5.0</i>
    </div>
    <div class="doc-parameter-value-field">
      <strong>Range:</strong> <em>0.0</em> to <em>500.0</em>, or <em>infinite</em>
    </div>
  </td>
  <td class="doc-parameter-description">
    <p>The radius (in miles) around the search location to search for stations within.</p>
    <p>An explicit radius of up to 500.0 miles may be passed in, or the special <code>infinite</code> string may be passed in to find the nearest stations regardless of distance.</p>
  </td>
</tr>

